.git
.github
.DS_Store
node_modules
vendor
storage/framework/sessions/*
storage/framework/views/*
storage/framework/cache/data/*
storage/logs/*.log
public/build
public/hot
.env
.env.backup
.env.example
.env.testing
npm-debug.log
yarn-debug.log
yarn-error.log
Homestead.yaml
Homestead.json
.phpunit.result.cache
.idea
.vscode
*.code-workspace 